[2020-05-31 20:09] sebgrijalva opened #2 "Install error"
I've been trying to install toqito but I have trouble with the `cvxpy` package. I get the following error:

`ERROR: Could not build wheels for cvxpy which use PEP 517 and cannot be installed directly
`

Until last week I had no problem installing and using toqito. After some search I tried different combinations of versions of `pip` and `python` with no success. I even tried to install the package

[2020-05-31 22:08] vprusso commented on #2
Hi Seb,

Thanks for the question.

Part of the automated build process is to do a clean build/install, so I can confirm that this works. I would suggest either running `pip install --upgrade toqito` or `pip uninstall toqito` followed by `pip install toqito`. Hope that helps, and let me know if not.

[2020-06-01 16:20] sebgrijalva commented on #2
Thanks @vprusso , I was able to run the setup.py install and now have access to the library (I'm running python 3.8.3, is this an issue? I tried it on a different machine with python 3.7 with no trouble).

`pip install toqito` still gives the error message from my first post. Again, this might just be a problem with my configuration, although if you try to install the package on Repl.it you get th

[2020-06-01 16:30] sebgrijalva opened #3 "Finish Introductory Tutorial"
I'd like to be assigned to finish the basic operations tutorials. Basically how to define States, Channels and Measurements with `toqito', as already started in the .rst file

[2020-06-02 04:36] vprusso commented on #2
Hmm, strange. Glad you are able to run via `setup.py`, and thank you for letting me know about the `pip install` woes.

There will be another update to the PyPi server in the next day or so, and I'm hoping that this will solve the issue.

Regarding your question on the empty `__init__.py` file, you may have to be more specific as to which one you are referring to. Thanks for the comments and quest

[2020-06-02 04:37] vprusso commented on #3
Sounds great, Seb. I will be adding to the "Issues" board with some more clearly defined tasks that might be right up your alley. By all means, you don't have to wait for me to get these out there. I'm excited to see what you come up with. Thanks again for your input and contribution.

[2020-06-02 14:12] vprusso commented on #2
This thread may be of use in resolving the issue for you locally:
https://github.com/pyca/cryptography/issues/5101

[2020-06-02 14:20] vprusso opened #5 "Feature: NPA hierarchy"
The NPA hierarchy [arXiv:0803.4290](https://arxiv.org/abs/0803.4290) is a hierarchy of semidefinite programs (SDPs) that are often used to approximate upper bounds on the quantum value of a nonlocal game.

The article [arXiv:0803.4290](https://arxiv.org/abs/0803.4290) describes the NPA hierarchy and is a bit opaque in terms of implementation details for how one would generalize these ideas and app

[2020-06-02 19:45] sebgrijalva commented on #2
Hello,

Thank you, I see its mostly a local issue with `pip`  and `python` versions. Do you think, however, that `toqito` should be able to be loaded into tools like Repl.it and Colab?

Yes, I am referring to

toqito/__init__.py

If I understood correctly, here one can add attributes that can be loaded as soon as the library is imported.

I think I have nothing further to add here, If I find somet

[2020-06-02 20:05] vprusso commented on #2
Great. I'll close this for now, but please let me know if you encounter any further issues. Thanks again for your help!

[2020-06-02 20:05] #2 closed

[2020-06-25 14:32] vprusso commented on #3
Hey @sebgrijalva just wanted to see if you happened to make any progress on this task. I wanted to get this out soon, so if you aren't able to, no worries, just wanted to ensure that I can allocate time to do it on my end if so. Cheers!

[2020-06-26 07:41] sebgrijalva commented on #3
Hi @vprusso, I will have it finished by this weekend, for the moment i'll upload what I've done on a branch in my fork :)

[2020-06-26 19:09] vprusso commented on #3
That's exciting stuff and really neat to hear. Very much looking forward to what you've been putting together! :)

[2020-06-29 01:53] sebgrijalva commented on #3
Ok, I included what I wanted to say in this intro. I'm requesting a pull request so we can discuss how to improve it and merge.

[2020-06-29 19:32] vprusso commented on #3
Awesome, thank you for the PR! I'll try and spend some time adding comments soon. Thanks!

[2020-07-28 00:01] gharib85 opened #7 "Shift operator"
Shift_vec=[1]*(dim-1)
shift_mat = np.diagonal(shift_vec,-1)
 shift_mat = np.roll(shift_mat, -1)

[2020-07-28 00:07] vprusso commented on #7
This doesn't appear to have any context. Could you provide more details here?

[2020-08-30 23:13] #7 closed

[2020-08-30 23:13] #3 closed

[2020-09-28 11:37] nathanshammah opened #8 "Increase collaboration: Open more issues, add labels, PRs and add a roadmap"
- Opening more issues on a wishlist-based asset will help the features desired by the core developer, @vprusso, be more apparent to the community.
- Open issues could be also on topics on which the core developers are already working on, and could be already assigned (e.g. to @vprusso).
- Labels, such as "good first issue" or "help wanted" can help someone wandering on the repository get a sense o

[2020-09-28 16:28] vprusso commented on #8
These are all fantastic suggestions. Thank you for taking the time to compile these and place them here. I will most certainly take you up on these ideas. Thank you again for your input!

[2020-09-28 16:33] vprusso opened #9 "Feature: Bures distance"
One feature that may be of use is the ["Bures distance"](https://en.wikipedia.org/wiki/Bures_metric) calculation.

 This feature would be placed under the `state_metrics/` directory with the name `bures_distance.py`. The function would take as input two density matrices (quantum states) and perform the following calculation:

[code]

where `rho_1` and `rho_2` are density operators and where the `f

[2020-09-28 16:37] vprusso opened #10 "Feature: Choi rank"
Write a function that calculates the "Choi rank".

Refer to page 79 of https://cs.uwaterloo.ca/~watrous/TQI/TQI.pdf for the definition of the Choi rank.

In short, the Choi rank is the rank of the Choi representation of a quantum channel. The input to the function should be either a set of Kraus operators or a Choi matrix. If the former, the Kraus operators should be converted to a Choi matrix. Ca

[2020-09-28 16:40] vprusso opened #11 "Feature: Is trace preserving"
Given a channel specified by either its Choi matrix or its Kraus representation, determine if the channel is trace-preserving.

For the definition of what constitutes a channel to be trace-preserving, refer to Section 2.2.1 of https://cs.uwaterloo.ca/~watrous/TQI/TQI.pdf

This would involve creating `channel_props/is_trace_preserving.py` and adding the logic there. Refer to other files in the same

[2020-09-28 16:53] vprusso opened #12 "Enhancement: Parallelize classical value of nonlocal game"
The following loop inside of the `nonlocal_game.py` file under the `classical_value` function should be parallelized for large nonlocal games.

[code]

This [parallelization is also performed in QETLAB](https://github.com/nathanieljohnston/QETLAB/blob/691036434e88a0bc26d6253d769d29a455dcb921/NonlocalGameValue.m#L128) where indeed the approach to calculating the classical value of a nonlocal game h

[2020-10-06 01:10] vprusso opened #13 "Enhancement: Include Python 3.9 features"
Python 3.9 provides a couple of possibilities to enhance the `toqito` codebase. For instance, native types like `list`, tuple`, `dict`, etc. can now be used as type-hints instead of importing the corresponding `List`, `Tuple`, and `Dict` components from the `typing` module.

One such task would be to remove the usages of `from typing import List, Tuple, Dict` and simply use the native types. Updat

[2020-10-06 01:13] vprusso opened #14 "Feature: Convert kraus representation to channel (superoperator)"
Given a collection of Kraus operators, convert them into the corresponding quantum channel (i.e. the superoperator).

This would be placed under `channel_ops/kraus_to_channel.py`. Corresponding tests would also need to be created in the `tests/test_channel_ops/test_kraus_to_channel.py`file. Updating the docs would also need to be done as well.

[2020-10-06 01:16] vprusso opened #15 "Feature: Non-signaling value for XOR nonlocal game"
Presently, the `nonlocal_games/xor_game.py` file has functions `classical_value` and `quantum_value` that are responsible for computing the classical and quantum value of a nonlocal game, respectively.

This task would include the ability to also compute the non-signaling value of an XOR nonlocal game. This value serves as a natural upper bound to both the classical and quantum values.

This would

[2020-10-06 01:20] vprusso opened #16 "Feature: Is channel extremal"
A function that checks whether a quantum channel possesses the property of being extremal or not. Refer to section 2.2.4 of https://cs.uwaterloo.ca/~watrous/TQI/TQI.pdf for reference.

The function would be located in `channels/channel_props/is_extremal.py` and would return `True` if the channel is extremal and `False` otherwise. Tests for this should go in `tests/test_channel_props/test_is_extrem

[2020-10-07 17:36] #8 closed

[2020-10-08 15:05] vprusso opened #17 "Feature: Root Channel Fidelity"
Compute the root channel fidelity. This quantity can be computed by means of a semidefinite program as was shown in Proposition 50 of https://arxiv.org/pdf/2004.10708.pdf.

**Task**
As this is a channel metric, one will need to create a `channel_metrics` directory. The file created should be `channel_metrics/sqrt_fidelity.py`.  One will also need to create `channel_metrics/__init__.py` with the co

[2020-10-08 18:14] #17 closed

[2020-10-11 00:50] vprusso opened #19 "Feature: Diamond norm"
Implement the diamond norm calculation between two Choi matrices that represent quantum channels.

**Task**
The file created should be `channel_metrics/diamond_norm.py`.

**Tests:**
Corresponding tests should be located in `tests/test_channel_metrics/test_diamond_norm.py`.

**Docs:**
Place in `toqito.channel_metrics.diamond_norm`

[2020-10-15 00:40] vprusso opened #20 "Feature: Is separable"
Create a feature `state_props/is_separable.py` that is able to determine whether or not a given state represented as a density matrix is separable or entangled.

In general, this problem is NP-hard. However, there are a number of entanglement detection tests that act as more effective heuristics that can be run on the state in question first before getting to computing the NP-hard problem. As the

[2020-10-16 03:36] vprusso opened #21 "Documentation: Tutorial for parallel repetition for extended nonlocal games"
The existing tutorial on extended nonlocal games found [here](https://toqito.readthedocs.io/en/latest/tutorials.extended_nonlocal_games.html) does not currently cover how one can perform multiple parallel repetitions of a given extended nonlocal game.

It would be nice to cover the idea of what parallel repetitions are in this context and to also show some numerical results that tie into known res

[2020-11-16 23:50] vprusso opened #22 "Feature: Singlet state"
Create a function that yields the generalized singlet state acting on two n-dimensional systems. This state is defined as:

[code]

where [`swap_operator`](https://github.com/vprusso/toqito/blob/master/toqito/perms/swap_operator.py).

This feature should be added as `toqito/states/singlet.py` and should include proper test coverage defined in `tests/test_states/test_singlet.py`. Examples and docum

[2021-01-26 06:20] sebgrijalva opened #23 "Missing `channel_metrics` module"
After an install in a clean environment (`pip install toqito`), the module `channel_metrics` (which is included in the repo) appears to be missing. I can't even find the associated folder if I run `pip show -f toqito`.

[2021-01-26 06:41] sebgrijalva commented on #10
I'd like to tackle this one.  What do you think about this naive implementation?

[code]

So for example `choi_rank(choi_matrix = toqito.channels.choi())`would return `6`.

By the way, where should this function be included? It seems like it could fit inside `channel_metrics`

[2021-01-26 12:59] vprusso commented on #23
Right, the `channel_metrics` module is actively being added in `0.0.7.` The current `toqito` on the PyPi server is `0.0.6`, so that is expected. When `0.0.7` comes out, I'll update the PyPi server so that way the `channel_metrics` folder gets added.

[2021-01-26 12:59] vprusso commented on #23
I think this closes the issue, so I'm going to go ahead and close it, but let me know if something isn't clear.

[2021-01-26 12:59] #23 closed

[2021-01-26 13:09] vprusso commented on #10
I think this has the bulk of the idea of what the Choi rank should include. A few points:

1. Consult the other functions in `channel_props`--for instance `is_positive.py`. This takes in an argument `phi` with type hint annotation `Union[np.ndarray, List[List[np.ndarray]]]`. From there, the argument `phi` is treated accordingly depending on whether the user provided a `np.ndarray` (a matrix) or a

[2021-01-26 16:45] vprusso opened #24 "Feature: Log negativity"
For the definition of the "log negativity" of a quantum state, consult page 434 of:
https://arxiv.org/pdf/2011.04672.pdf

Refer to `states/state_props/negativity.py` for a rubric for how to implement `log_negativity.py`.

[2021-01-27 15:37] #24 closed

[2021-01-28 15:35] #10 closed

[2021-01-28 15:48] vprusso opened #28 "Feature: Matsumoto fidelity"
The Matusmoto fidelity was introduced in arXiv:1006.0302. In arXiv:2006.06918, it was shown that it is possible to compute this quantity by means of a semidefinite program. Refer to equation 1.11 in the aforementioned preprint.

The functionality for this feature should be included under `state_metrics/matumoto_fidelity.py`. To solve the semidefinite program, it will most likely make sense to make

[2021-01-28 15:54] vprusso opened #29 "Feature: Dual channel"
Given a map (quantum channel) compute the dual of the map.

As an example, this functionality is present in the QETLAB package. While the implementation there is in MATLAB, the spirit of the implementation should be quite similar to the implementation for `toqito`:
http://www.qetlab.com/DualMap

Write the functionality for this task in `toqito/channel_ops/dual_channel.py` and ensure proper unit te

[2021-01-28 15:59] vprusso opened #30 "Feature: Is quantum channel"
Write a function to determine if a given superoperator is a quantum channel. A valid quantum channel is a superoperator that is both trace-preserving and completely positive.

This feature should be placed inside of `toqito/channel_props/is_quantum_channel.py` with unit tests inside of `tests/test_channel_props/test_is_channel.py`. Also, ensure that the docs are updated by updating `docs/channels.

[2021-01-28 16:02] vprusso opened #31 "Feature: Complementary channel"
Given a map (quantum channel) compute the complementary map.

As an example, this functionality is present in the QETLAB package. While the implementation there is in MATLAB, the spirit of the implementation should be quite similar to the implementation for `toqito`:
http://www.qetlab.com/ComplementaryMap

Write the functionality for this task in `toqito/channel_ops/complimentary_channel.py` and e

[2021-01-28 16:46] #11 closed

[2021-01-28 17:21] vprusso opened #32 "Feature: Channel dimensions"
Given a quantum channel, compute the input, output, and environment dimensions of the quantum channel.

The channel should be provided as input as either a Choi matrix or a `List` or Kraus operators.

In spirit, the approach for computing these dimensions align with the QETLAB function `superoperator_dims` found [here](http://www.qetlab.com/Superoperator_dims).

For reference, here is some code wr

[2021-01-28 17:28] vprusso opened #33 "Feature: Is UPB (unextendible product basis)"
Given a collection of vectors, determine if the set constitutes an unextendible product basis (UPB).

According to [arXiv:quant-ph/9808030](https://arxiv.org/abs/quant-ph/9808030):

In spirit, the functionality of being able to determine whether a collection of vectors form a UPB can be derived from the QETLAB package, specifically the function "[IsUPB](http://www.qetlab.com/IsUPB)".

The function

[2021-01-28 22:29] vprusso opened #34 "Enhancement: Maximum confidence state distinguishability"
Presently the `state_distinguishability` function in `state_distinguishability.py` includes minimum-error and unambiguous quantum state distinguishability using the argument `dist_method = "min-error"` and `dist_method="unambiguous"`, respectively.

This task should enhance the `state_distinguishability` function to include the ability to compute the maximum confidence discrimination. Refer to Sec

[2021-02-01 13:52] ganeshmylavarapu-qp opened #35 "Quantum Repeaters Technology"
Hello,

I am working on a paper which states that if the intermediates nodes between initial and final nodes are entangled, then there will be an entanglement created between inital and final nodes.

Do we have this kind of functionality developed in this software? If yes, then is there any tutorial available as to how to create nodes and create entanglement between the nodes.

Thanks,
Ganesh Myla

[2021-02-01 13:54] ganeshmylavarapu-qp commented on #35
For example, if there is an entanglement between Alice and Bob, and entanglement between Bob and Charlie. If the two qubits in Bob are entangled, then there is an entanglement created between Alice and Charlie.

[2021-02-01 14:48] vprusso commented on #35
Hi @ganeshmylavarapu-qp. I'm not very knowledgeable about quantum repeaters specifically, but if you're looking for a way to model entanglement between three parties you might get some value looking at the functionality pertaining to extended nonlocal games--these abstractions are similar to two-player nonlocal games but where the referee also acts as a participant (the referee would be Charlie in

[2021-02-04 12:30] #35 closed

[2021-02-11 06:11] sebgrijalva commented on #14
I suppose that by the superoperator you mean the natural representation of the quantum channel (according to Watrous' book). So I guess that something like eq. 2.74, p 80. of Watrous' book would work here:

[code]

I tried this with some random Kraus operators

[code]
and some random density matrix (together with its vectorization):
[code]
and compared the action of the superoperator on the (vecto

[2021-02-11 13:24] vprusso commented on #14
Hi @sebgrijalva

Thanks very much for your question, and do let me know if what I'm providing here makes sense.

Hmm, I believe that if your `kraus_list` that you're iterating over already contains the Kraus operators obtained elsewhere, these should already have the conjugation applied to the second right Kraus operator--in which case I believe the code would look something like:

[code]

This ma

[2021-02-11 15:32] vprusso opened #36 "Feature: Is Idempotent"
Given a matrix, determine if it has the property of being idempotent. More information on the definition of an idempotent matrix can be found [here](https://en.wikipedia.org/wiki/Idempotent_matrix):

The gist of how to implement the main idea of the function can be by checking:

[code]

where `rtol` and `atol` should be defined as optional parameters to the function (refer to `[is_positive_semidef

[2021-02-11 15:40] vprusso opened #37 "Feature: Is channel unitary"
Given a quantum channel, determine if it has the property of being unitary. For more information on the definition of a unitary quantum channel, consult example 2.14 in [this textbook](https://cs.uwaterloo.ca/~watrous/TQI/TQI.pdf).

The gist of how to implement the main idea of the function can be performed by first checking if the input to the function is in the form of a Choi matrix. If so, conv

[2021-02-11 16:52] vprusso opened #38 "Feature: Has symmetric extension"
Given a quantum state, write a function that determines whether it possesses a symmetric extension.

Naively, one can just call the `symmetric_extension_hierachy` function on the given quantum state to determine if it possesses on, but there are some small special cases that can be analytically determined (https://arxiv.org/abs/1310.3530).

The functionality for this should be created in `state_pr

[2021-02-11 23:25] #36 closed

[2021-03-02 00:20] #38 closed

[2021-03-04 01:41] vprusso opened #40 "Feature: Min-relative entropy for quantum states"
Implement a function that calculates the min-relative entropy for quantum states.

The functionality for this should be created in `state_props/min_relative_entropy.py` with corresponding unit tests found in `tests/test_state_props/test_min_relative_entropy.py`. Be sure to also update the docs in `/docs/states.rst` under "Properties of Quantum States" with `toqito.state_props.min_relative_entropy.

[2021-03-04 01:42] vprusso opened #41 "Feature: Max-relative entropy for quantum states"
Implement a function that calculates the max-relative entropy for quantum states.

The functionality for this should be created in `state_props/max_relative_entropy.py` with corresponding unit tests found in `tests/test_state_props/test_max_relative_entropy.py`. Be sure to also update the docs in `/docs/states.rst` under "Properties of Quantum States" with `toqito.state_props.max_relative_entropy.

[2021-03-04 01:46] vprusso opened #42 "Feature: Min-relative entropy for quantum channels"
Implement a function that calculates the min-relative entropy for quantum channels.

The functionality for this should be created in `channel_props/min_relative_entropy.py` with corresponding unit tests found in `tests/test_channel_props/test_min_relative_entropy.py`. Be sure to also update the docs in `/docs/channels.rst` under "Properties of Quantum Channels" with `toqito.channel_props.min_relat

[2021-03-04 01:47] vprusso opened #43 "Feature: Max-relative entropy for quantum channels"
Implement a function that calculates the max-relative entropy for quantum channels.

The functionality for this should be created in `channel_props/max_relative_entropy.py` with corresponding unit tests found in `tests/test_channel_props/test_max_relative_entropy.py`. Be sure to also update the docs in `/docs/channels.rst` under "Properties of Quantum Channels" with `toqito.channel_props.max_relat

[2021-03-05 16:00] vprusso opened #44 "Feature: Convert description of a binary constraint game to a nonlocal game"
Binary constraint games (sometimes called linear system games or binary constraint system games) are a subset of the class of nonlocal games that are related to binary constraint systems. We shall refer to these as BCS games for short. The formulation of these games can be found in [arXiv:1209.2729](https://arxiv.org/abs/1209.2729).

BCS games have served as useful tools for the study of nonlocal

[2021-03-05 16:26] vprusso opened #45 "Feature: Is block-positive"
Given an operator (matrix) determine if it is block-positive.

The definition of block-positivity can be found in Section 2.2.5 in [arXiv:1207.1479](https://arxiv.org/abs/1207.1479).

Determining block-positivity is a very useful tool in the context of quantum state discrimination. Such an example application can be found in [arXiv:1408.6981](https://arxiv.org/abs/1408.6981). Roughly speaking, the

[2021-03-10 02:20] rurz commented on #2
So sorry for this mess, I erroneously linked this issue (No 2) to my reviews I'm doing on the forked code I have of your repo

[2021-03-10 02:55] vprusso commented on #2
No worries at all, @rurz. Please reach out if you have any questions about using `toqito`! Cheers.

[2021-03-12 11:39] gharib85 opened #46 "Pure_to_mixed"
if min(row_dim, col_dim) == 1:
This condition means
bra or ket
So it give wrong answer to bra
___________
If col_dim==1: #ket
return   phi * phi.conj().T
If row_dim==1: #bra
 return   (phi.conj().T)*phi

[2021-03-12 14:48] vprusso commented on #46
Hi @georgios-ts. Thanks for your comment!

This is perhaps an artifact of unclear documentation on my part--but the input to the `pure_to_mixed` function should only be valid for state vectors (kets) or density matrices.

Perhaps the most direct fix is to make this assumption more explicit than it already is in the docs. A more elaborate and structural change could be to enforce the function to ta

[2021-03-17 01:50] marwahaha opened #47 "JOSS review comments"
from https://github.com/openjournals/joss-reviews/issues/3082

Overall, neat package. Comprehensive tests. I like the docs page and the tutorials. Few small comments:
* contributing.md specifies that "multiple core developers will approve PRs", but there seems to be a single core developer.
* your codecov check fails often (because the codecov decreases by a tiny fraction like 0.05%) which makes i

[2021-03-18 02:01] rurz opened #48 "JOSS Review from rurz"
Review for vprusso/toqito

In general, it is an remarkable package, with a lot of resources ranged from basic lineal algebra methods for quantum mechanics, to the implementation of a plethora of quantum measurements, and the development of nonlocal games studies. The package denotes a lot of work, constant planning and implementation of features, as seen in the issues raised on their Github repo.

[2021-03-20 18:11] vprusso commented on #47
Hi @marwahaha,

Thank you for your outstanding review. Your comments are wonderful, and I really appreciate you taking the time to give this package an honest look and review.

I've addressed your comments in: https://github.com/vprusso/toqito/pull/49.

Amended to specify myself as the core developer.

Added a `.codecov.yml` file to (hopefully) resolve that issue.

I will err on the side of the la

[2021-03-23 12:47] vprusso commented on #47
Hi @marwahaha. Apologies if I'm interpreting the review process incorrectly, but do I provide my responses and adaptions via a pull request, as I did, and then merge the PR assuming the comments and response are satisfactory? I wanted to ensure I've addressed your comments prior to moving onto the second review. Thanks again for all of your helpful feedback!

[2021-03-24 00:30] marwahaha commented on #47
Hi @vprusso ! I don't know what the "best process" is. I did a 30-second glance at the PR and it looks ok, but I'm on vacation and won't be able to really look until next week. I'm ok with you merging it so you can move on to the next review, and I can take another glance next week. Does that work for you?

[2021-03-25 15:14] #46 closed

[2021-03-26 20:56] vprusso commented on #47
That sounds great. My apologies for interrupting you during your vacation!

[2021-03-31 06:09] marwahaha commented on #47
A few quick comments:
* contributing.md: I think it should be "approves the reviews" vs "will approve the reviews"
* perfect matchings # of arguments -- maybe it's an issue with the readthedocs generation, but it doesn't look like it's reading the signature correctly:
![image](https://user-images.githubusercontent.com/2541209/113097416-b2cac380-91ab-11eb-934d-69441eba9cdf.png)
* nonlocal games --

[2021-03-31 21:30] marwahaha commented on #47
You may also consider giving a talk here: https://unitary.fund/talks.html

[2021-04-02 22:04] vprusso commented on #47
Hi @marwahaha

Agreed, I've gone ahead and made this change.

Ah, this actually appeared to be some type of subtle problem with `autosummary` (https://github.com/sphinx-doc/sphinx/issues/6311). The fix for me was to apply the feature created in (https://github.com/sphinx-doc/sphinx/issues/6361) and add the line `autodoc_typehints = 'none'` to the `conf.py` file responsible for generating the Sphin

[2021-04-02 22:25] marwahaha commented on #47
I think the naming logic is fine. Ctrl-F on https://toqito.readthedocs.io/en/latest/tutorials.nonlocal_games.html for  `quantum_lower_bound` and I think it should instead be `quantum_value_lower_bound`.

[2021-04-05 12:58] vprusso commented on #47
@marwahaha. Wonderful. Nice catch, and done! :)

[2021-04-05 18:30] #47 closed

[2021-04-08 14:24] vprusso commented on #48
Hi @rurz,

Thank you for the kind words on the toqito software package (and apologies for my belated response to this thread)!

Based on your great comments, I've created the following pull request: https://github.com/vprusso/toqito/pull/51

I did my best to comb through the docs (tutorials, auto-generated docs from comments in functions, etc.) to try to eliminate some of the typos and spelling er

[2021-04-11 11:37] paniash opened #52 "Installing as an editable program"
Hi! Is there a way to install toqito as an editable program. Something along the lines of

[code]

Thanks in advance!

[2021-04-11 14:08] paniash opened #53 "Missing contributor's guide link in readthedocs page"
In [this](https://toqito.readthedocs.io/en/latest/getting_started.html#contributing) page, the link to the contributing guide leads to a "page not found" error. It directs the link to `CONTRIBUTING` instead of `CONTRIBUTING.md` which is why the error persists.

[2021-04-12 13:08] vprusso commented on #53
Hi @paniash,

Thank you kindly for catching that issue. I have since updated and fixed it. Nice catch, and thank you for your input!

[2021-04-12 13:08] #53 closed

[2021-04-12 13:13] vprusso commented on #52
Hi @paniash,

Thank you for the question. Truth be told, I've never used the `-e` option when running `pip install`. My initial, and perhaps naive thought process, is that this should be natively accessible for any package on the PyPi server.

I'm also curious about the use case for installing as an editable program. I think it would be preferable to simply pull down a branch of the project and ed

[2021-04-15 23:56] rurz commented on #48
Hi @vprusso, I'm sorry for the late response, it was holiday season at Mexico.

Great, I see a lot of work done in the #50. Let me recheck again, and I find something to improve, I will notify you. I think two or three days must be enough. Anticipating congrats for the amazing package you have here. 👍🏻

[2021-04-16 12:44] vprusso commented on #48
A belated happy holiday season to you and yours, @rurz!

Do let me know if you stumble on anything that should be improved, and thank you yet again for your insightful and well-written set of initial comments!

[2021-04-17 00:11] jameshclrk opened #54 "JOSS Review"
Hello,

I like the package. I wish I has something like this when I first started learning about quantum information :smile:

I had a few comments:

### Functionality
- I had a few errors when trying out the library, relating to BLAS/LAPACK packages for the SCS solver in cvxpy. While this isn't a mistake in this package, it might be worthwhile to document the prerequisites for the SCS solver
- Whe

[2021-04-18 21:44] vprusso opened #55 "Issue: Warnings generated for signalling value"
While this does not appear to be a bug preventing the non-signaling value to be computed, the SCS solver does seem to present a number of warnings of the form:

[code]

If justified, finding a method to silence these warnings with appropriate commenting would be a satisfactory approach. Ideally, find out precisely why this warning is being shown and alleviating whatever is causing it would be the

[2021-04-18 22:20] vprusso commented on #54
Hi @jameshclrk,

First of all, thank you very much for taking the time to go over the fine-grained details of the toqito project. Your inputs will undoubtedly be incredibly important to improving the project, so thank you very much for that.

Great tip. I made sure to include some extra information and links in the "Getting Started" (https://toqito.readthedocs.io/en/latest/getting_started.html#) i

[2021-04-19 18:30] rurz commented on #48
Hi again, @vprusso. I have rechecked my initial statements of this review, and I see that the work done in #50 neatly solves the issues. Congrats for such effort. Currently, I have no complains about installation, functionality and documentation of the package, neither the companion paper. I check this review as done, and you can close the thread. I will complete my review on JOSS repo.

By the wa

[2021-04-19 23:27] vprusso commented on #48
@rurz that's great to hear thank you yet again for your awesome input on the toqito project!

And of course, I would warmly recommend any contribution to allow the toqito project to be accessible to a wider audience!

[2021-04-19 23:27] #48 closed

[2021-04-20 18:06] jameshclrk commented on #54
Cool! Looks great. I'll close this issue now, all seems good.

No problem. Thanks for building this package.

[2021-04-20 18:06] #54 closed

[2021-05-01 04:59] gharib85 opened #56 "hadamard(n)"
It supposed to return 2^n*2^n matrix
Try it for n>4
It return wrong dimensions

[2021-05-01 14:58] vprusso commented on #56
Nice catch! Fixed in https://github.com/vprusso/toqito/commit/9ee3a54c8ded20bab3694058cf621da78a433bc7

Thanks!

[2021-05-01 14:58] #56 closed

[2021-05-11 12:03] vprusso commented on #55
Investigated this further. It seems as if this is an artifact of the `SCS` solver. This is expected behavior, and in fact, is also shown in some of the examples on the official `cvxpy` docs as well (see the [Total variation in-painting example](https://www.cvxpy.org/examples/applications/tv_inpainting.html) for instance).

While it's not ideal to illicit warnings, it's outside of scope for both `t

[2021-05-12 18:45] victor-onofre commented on #9
Hello, I will participate in the Unitary Hack. I will try to do this feature to start. This is my first participation in an open-source project, so many things are new to me. Probably I will have a lot of questions. Thank you for your patience in advance.

[2021-05-12 21:45] vprusso commented on #9
Hi @victor-onofre. Welcome and thank you for considering the toqito project, I am happy to have you on board :).

I would be happy to answer questions for you or point you to the relevant resources to get you up and running. Feel free to ping me if you have questions, and looking forward to seeing your contribution included in the toqito project!

[2021-05-13 15:46] vprusso opened #58 "Feature: Determine whether density matrix is product operator"
There currently exists a function `is_product_vector.py`. Given a vector, the function determines if it qualifies as a bipartite product vector. It also provides the vector decomposition of the input vector.

Ideally, this function should be renamed to `is_product.py` and should include the ability to detect not just whether a vector is a product vector, but also whether a density matrix living in

[2021-05-13 15:48] vprusso opened #59 "Feature: Determine Schmidt decomposition of density matrix"
There currently exists a function `schmidt_decomposition.py`. Given a vector, the function provides the Schmidt decomposition.

Ideally, this function should include the ability to provide not just the Schmidt decomposition of a vector as input, but be robust enough to handle inputs provided as density matrices as well.

Consulting and enhancing the `schmidt_decomposition.py` file should be where

[2021-05-13 16:09] victor-onofre commented on #9
Hi @vprusso, thank you for the welcoming message. I was searching for more information about the Bures distance and found in this paper [arxiv.org/abs/1304.3334](https://arxiv.org/abs/1304.3334) (equation 4) this definition:

`d = sqrt[ 2 * (1 - sqrt(fidelity(rho_1, rho_2)) ] `

Is this the correct definition?

Also, for the test cases. I can take the test for the `fidelity` function and modify it

[2021-05-13 16:55] vprusso commented on #9
Hi @victor-onofre. Thanks for your comment. Indeed, I think I had written the pseudo-code for the Bures distance somewhat oddly. I've updated my initial comment and will reproduce that quantity (correctly) below:

[code]

Indeed, equation (1.3) I believe gives the correct formulation of the Bures distance for density matrices (http://sciencewise.info/media/pdf/0711.4286v1.pdf).

Regarding the test

[2021-05-13 22:23] theRoughCode commented on #44
Hey @vprusso, I'm interested in tackling this feature. However, I'm not entirely clear about the definition of a BCS game as defined as `numpy` arrays. in the first part of the definition, we define a BCS game as defined by a list of constraints. My initial intuition was to represent this as an `m x (n+1)` array where the `(i,j)`-th element is 1 if `v_j` is in `c_i`, for `0 <= j < n`, and `(i, n)`

[2021-05-13 23:59] vprusso commented on #44
Hi @theRoughCode. Thanks for taking a look at this feature.

Let me try and elaborate a bit on the above, and let me know if anything I'm saying is unclear--or if I can answer any follow-up questions, I'm happy to help.

Perhaps an example may help. Consider a BCS game defined by the following two constraints:

[code]

The above is actually just the CHSH game from https://arxiv.org/pdf/1209.2729.p

[2021-05-14 00:39] theRoughCode commented on #44
I see, so we will have `m` matrices corresponding to the `m` constraints. To clarify, it seems like each dimension in the array has 2 elements (corresponding to the binary values). Does this mean that for a BCS game with `n` variables, we would have an `n`-dimensional matrix (e.g. for `n=4`, we will have `2x2x2x2`)?

[2021-05-14 12:10] vprusso commented on #44
Yes, that is precisely it :)

Of course. And again, if I can lend a hand in any questions or aspects of this feature, please do not hesitate to ping me. Cheers!

[2021-05-14 16:39] vezwork commented on #45
I'm interested in taking this! I've read through a bit of [arXiv:1207.1479](https://arxiv.org/abs/1207.1479) and I still need to work through it a bit more to understand how to implement a function that determines if a matrix is block positive or not.

I have a few questions @vprusso
- Could you point me towards where I would place such a function in the toqito codebase?
- What format/data-structu

[2021-05-14 18:33] vprusso commented on #45
Hi @vezwork. That's fantastic, I'm thrilled that you're interested in this feature. I believe this will be a very useful feature once implemented, and I expect it to be a fun one to work on as well :)

Regarding your questions:

Of course. I think an appropriate place for this function would be within the `toqito/matrix_props` directory; as this function will be responsible for determining a given

[2021-05-14 20:34] theRoughCode commented on #44
Cool, and regarding the location of the code, does creating a new file called `bcs_game.py` under `toquito/nonlocal_games` sound good to you?

It would contain a `BCSGame` class with functions `init(constraints: [np.ndarray])` and `to_nonlocal_game() -> NonlocalGame`. This would allow for adding `BCSGame` specific functions if we want.

Alternatively, we can just create a `NonlocalGame.from_bcs_ga

[2021-05-14 21:43] victor-onofre commented on #9
Hi @vprusso, I have made the new function `bures_distance` and do some testing. I'm having trouble at the moment using:

`from toqito.state_metrics import bures_distance`

I need to install the version of toqito with the function `bures_distance` in `state_metrics` in my local folder for the testings. How can I do that? I'm a little lost here. Sorry if this is a very basic question.

[2021-05-14 22:00] vprusso commented on #9
Hi @victor-onofre. That's great to hear!

You can correct me if I'm wrong here, but I believe you might need to include the following line:

[code]

inside of `state_metrics/__init__.py`. Otherwise, if this line isn't present there, the line that you are attempting to use within your test won't properly resolve.

Anyway, I *think* that is probably your issue. Of course, correct me if I am wrong, o

[2021-05-14 22:01] vprusso commented on #44
Hi @theRoughCode.

Yep, I think that's the most sensible location to place the code.

That's great, I think something that mimics the designs found in both `nonlocal_game.py` as well as `extended_nonlocal_game.py` would make sense.

Honestly, this is also a good idea. I don't think I have a particularly strong preference over this way or the previous way you suggested. I'll leave it to you and you

[2021-05-14 22:35] theRoughCode commented on #44
I think I'm leaning more towards the latter, simpler approach for now as it requires less boilerplate code. Also, it seems to me that currently there isn't a use for a BCS game other than to use it to construct a nonlocal game. We can easily move over to the first approach if needed.

[2021-05-14 23:38] vprusso commented on #44
@theRoughCode. Yep, that makes sense to me, I like it :)

Of course, if you have any more questions or want to discuss any design decisions, etc., do let me know! Cheers.

[2021-05-15 02:33] victor-onofre commented on #9
Hi @vprusso, thank you so much for the help. I have done a pull request for this function. My first pull request ever!
I will wait for your comments and again thank you for your help.

[2021-05-15 03:11] theRoughCode commented on #44
@vprusso In section 1 of https://arxiv.org/pdf/1209.2729.pdf, they describe the conversion to a nonlocal game such that Bob receives a variable `x_t` from `c_s`.  I wanted to clarify that this means that if we have `x1 ^ x3 ^ x5 = 0`, then Bob can only be given 1, 3, or 5 and not any other variables?

If so, then our current definition of the constraint matrix gives no immediate information about

[2021-05-15 13:35] vprusso commented on #9
Hi @victor-onofre. Thank you for the contribution, and congrats on your first pull request! :)

A few things that should be pointed out:

- It looks like the build from your commit failed. You can take a peek at this build log and see what went wrong:
https://travis-ci.com/github/vprusso/toqito/builds/225996160

The build success is tied to a few things, one of which being tied to code style. You

[2021-05-15 15:09] vprusso commented on #44
Hi @theRoughCode. One thing that I think might be a useful source of truth on this would be the following function that effectively performs the same action as provided by Nathaniel in his software package QETLAB:
https://github.com/nathanieljohnston/QETLAB/blob/master/helpers/bcs_to_nonlocal.m

Granted, the code is in MATLAB, so translating between Python and MATLAB can be a bit tricky, but there

[2021-05-15 21:19] victor-onofre commented on #9
Thank you for reviewing my code @vprusso.  I have made the changes to the function, but I keep getting this error:
[code]
I have made the changes for the whitespace but I cannot fix it. I think I'm missing something, can you explain the meaning of `Trailing whitespace `? Thank you for the help again!

Here is the build log: [https://travis-ci.com/github/vprusso/toqito/builds/226012423](https://tra

[2021-05-15 21:23] vprusso commented on #9
Hi @victor-onofre. Of course, happy to review the code, thank you for contributing.

Regarding those errors, I can explain them in a bit more detail. Indeed, some of the linter errors can sometimes be a bit hard to decipher. Basically, the lines in question that are being mentioned have extra white space. So, if you move your cursor to the end of any of those lines, you'll see that there is white

[2021-05-15 23:45] victor-onofre commented on #9
I finally fix the `Trailing whitespace` problem, it was quite tricky.  I will wait for further comments on the code.
Thank you @vprusso!

[2021-05-16 00:17] vprusso commented on #9
@victor-onofre cool! Those linter issues can really be quite pesky, but they are useful for ensuring the code quality is maintained (necessary evil :) ).

Added a few more comments on the road for your first PR :)

[2021-05-16 05:00] vezwork commented on #45
I have just finished reading up to and including Section 2.2.5 in [arXiv:1207.1479](https://arxiv.org/abs/1207.1479).

To say where I'm at:
I have some sort of a grasp of what it means for an operator to be block positive based on the definitions
![image](https://user-images.githubusercontent.com/11082236/118385792-213ed600-b5e0-11eb-941e-7e182ebff2e2.png) and based off of the inequality on page 3

[2021-05-16 16:07] vprusso commented on #45
Hi @vezwork.

Right, this seems to align with my understanding as well. In the event when the local dimension is small, indeed, checking whether the input is PSD is sufficient. The more elaborate and interesting cases will most likely involve computation of the SkOperatorNorm as per QETLAB. I am not aware of how one would deem the block-positivity of an operator in a different manner--that is, in

[2021-05-16 19:46] victor-onofre commented on #9
Hi @vprusso, thanks again for checking my code. I have made the changes and added some comments to your review.
Thank you for your patience!

[2021-05-16 20:42] georgios-ts commented on #5
I'm working on this issue.
My current plan is to implement it from scratch since ncpol2sdpa is not actively maintained.

[2021-05-16 21:37] vprusso commented on #5
Hi @georgios-ts. Great! I very much favor the decision to implement this feature from scratch. While the `ncpol2sdpa` package has its purpose, as you mention it's not actively maintained and also has a bit too much baggage regarding other features and functionality that would be somewhat cumbersome to include or work around within `toqito`.

 I think the initial description of the task gives some

[2021-05-16 21:55] vprusso commented on #9
@victor-onofre Cool! Definitely getting close. Put in a few more comments, but they are all fairly minor ones. Looking overall pretty good though!

[2021-05-17 01:40] victor-onofre commented on #9
I have made the changes to the function. It looks like I have many mistakes in the docstring of the function. How can I check for errors there? Is there a way to see a preview or something like that?

I don't know how I didn't see those errors from the start :(
Thank you for your time @vprusso

[2021-05-17 11:56] vprusso commented on #9
Hi @victor-onofre. Awesome, thanks for making those changes!

Regarding how one can catch issues in the docs, I think a good workflow is one where you build the docs locally and inspect any of the files you changed from there.

Specifically what you would do would be to navigate into the `docs` directory of the `toqito` project. Running `make clean html` will build the docs based on the files that

[2021-05-17 15:26] vprusso commented on #9
Closing the issue now that the pull request has gone through. Great work, @victor-onofre!

[2021-05-17 15:26] #9 closed

[2021-05-17 15:27] vprusso commented on #58
Completed in d341459f0da93093ffebbca82017e2903f614131.

[2021-05-17 15:27] #58 closed

[2021-05-17 23:50] theRoughCode commented on #44
Hey @vprusso, thanks for the reference! It looks like QETLAB implemented it in the way I described above. One other question I had regarding testing this function: I was thinking of writing a unit test that converts the BCS CHSH game and compares the `pred_mat` and `prob_mat` of the converted BCS game with `self.chsh_bcs_game()`. However, it seems like the description of the converted BCS game dif

[2021-05-18 07:50] victor-onofre commented on #40
Hi @vprusso, I want to try to do this feature. I saw the definition in [https://arxiv.org/abs/1905.11629](https://arxiv.org/abs/1905.11629l), but I don't understand how to compute the quantities. Is there some examples to do this? or maybe another type of explanation?

Also, I found this thesis [https://arxiv.org/abs/1611.08802](https://arxiv.org/abs/1611.08802) in the definition 3.2.2 (page 38),t

[2021-05-18 14:00] vprusso commented on #40
Hi @victor-onofre. Glad to see you back for another task, and I'm happy to hear you had fun working on the other function, that's great!

Regarding this task, now that I am looking over this task and https://github.com/vprusso/toqito/issues/41, I am wondering if it would make sense to combine both of these into a single function `relative_entropy.py` within the `state_metrics` folder.

I'm thinkin

[2021-05-18 14:20] vprusso commented on #44
Hi @theRoughCode. Hopefully, the reference will come in handy. :)

Regarding your question, indeed, I checked the BCS CHSH and vanilla CHSH games in QETLAB to see what the respective `pred_mat` results would look like.

# BCS CHSH

Taking the example from QETLAB fro the BCS CHSH game:

[code]

Taking the `C` variable from this and converting it to a nonlocal game, one obtains:

[code]

[code]

The

[2021-05-18 17:39] theRoughCode commented on #44
Thanks for the detailed reply @vprusso! I tested my implementation on the CHSH example and got the correct classical value. However, when trying to compute the quantum value via `chsh.quantum_value_lower_bound()`, I got a `cvxpy` error:
[code]

This is because on line 392 in [nonlocal_game.py](https://github.com/vprusso/toqito/blob/834549e6b0d667777927ce50bb2bff3b28bae8d9/toqito/nonlocal_games/non

[2021-05-18 19:48] victor-onofre commented on #40
I like the idea @vprusso. I will start working on that. I will let you know if I have more questions.
Thank you!

[2021-05-18 20:21] theRoughCode commented on #44
Also, is there a reason we use `assertEqual` in our tests instead of `np.testing.array_equal`? The latter gives us information about the differences in the numpy arrays, rather than just failing.

[2021-05-18 20:27] vprusso commented on #40
Cool! Sounds like a plan, @victor-onofre. Really excited to see what you put together here! :)

[2021-05-19 04:21] paniash commented on #59
Hi! I'd like to work on this. Any pointers other than the aforementioned hints? Thanks!

[2021-05-19 05:03] paniash commented on #52
@vprusso Sorry for the late response. With `pip install -e .`, any local changes I make are instantly reflected when executing code (atleast that's how qiskit contributions work). Perhaps this isn't required in toqito's case. Feel free to correct me, I still pretty new to python's package management (coming from a C background).

[2021-05-19 11:58] vprusso commented on #59
Hi @paniash. Fantastic, that's great to hear.

And yes, I can offer a bit more context on the above.

Presently, the `schmidt_decomposition.py` exists in `state_ops/schmidt_decomposition.py` (one part of this task may be to move the `schmidt_decomposition.py` file to the more appropriate location of `state_props/schmidt_decomposition)`.

It presently only works on vector inputs, but it would be id

[2021-05-19 11:58] vprusso commented on #52
@paniash. Gotcha. I wasn't aware of this `pip` flag before, so I did a bit of reading on it after your comment. I wasn't able to stumble on a use case where the alternative of cloning and making changes that way would be any different. Of course, this could just be a blind spot on my part, which is likely.

The internal of Qiskit perhaps lend themselves better to this option for one reason or anot

[2021-05-19 11:58] #52 closed

[2021-05-19 13:44] vprusso opened #63 "Enhancement: Prefer `np.testing.array_equal` over `assertEqual` in testing"
As pointed out by @theRoughCode in https://github.com/vprusso/toqito/issues/44, the `np.testing.array_equal` pattern should be preferred over the `assertEqual` pattern in the unit testing code. The reason for this preference is that the former provides more helpful testing data from failed instances in comparison with the latter. This task will involve finding instances of `assertEqual` and alteri

[2021-05-19 13:52] vprusso commented on #44
Hi @theRoughCode. I'll work backwards here w.r.t. your questions:

Not any good reason at all, in fact. Certainly would prefer more information than less, so if `np.testing.array_equal` gives us more information, I think that should be the preferred approach. I've created a task here to capture that: https://github.com/vprusso/toqito/issues/63

Regarding the statement above:

I haven't had much ti

[2021-05-19 14:53] georgios-ts commented on #44
Hi @vprusso, @theRoughCode
Regarding this error,

 it seems to me that the code in non local games might need an update. For example, the cvxpy variables below might not be square in a general setting or even `alice_sum_a` might not be of equal dimension with `tau`.
https://github.com/vprusso/toqito/blob/834549e6b0d667777927ce50bb2bff3b28bae8d9/toqito/nonlocal_games/nonlocal_game.py#L320-L324

htt

[2021-05-19 15:28] theRoughCode commented on #63
Another thing to consider when fixing this is that [this line](https://github.com/vprusso/toqito/blob/834549e6b0d667777927ce50bb2bff3b28bae8d9/tests/test_nonlocal_games/test_nonlocal_game.py#L53) might not be testing what was intended:
[code]

what would end up here is:
[code]

Instead, what we want might be something like this:
[code]

However, I tried this but the "less than or equal to" check f

[2021-05-19 15:37] theRoughCode commented on #44
@georgios-ts @vprusso Should this failure mode of the current numerical solution with non-square matrices be opened as a separate issue?

[2021-05-19 16:26] theRoughCode commented on #44
@vprusso

Looking at [how QETLAB does it](https://github.com/nathanieljohnston/QETLAB/blob/702e6230a62c2241452775ceb88e63630bfd679e/NonlocalGameValue.m#L95-L100), they're implementing a different solution that does not require the matrix to be PSD:
[code]

We could try this algorithm using #61 by @georgios-ts?

[2021-05-19 16:47] georgios-ts commented on #44
Actually, [this](https://github.com/nathanieljohnston/QETLAB/blob/702e6230a62c2241452775ceb88e63630bfd679e/NonlocalGameLB.m) function is most relevant. It handles this issue by requiring as input the dimension of the Hilbert space that the players have access to.

[2021-05-20 13:42] #5 closed

[2021-05-20 14:39] vprusso commented on #44
@theRoughCode from what I can tell, it seems as if the fixes you pushed forth in #64 and #65 overcome the comments in this thread. Of course, if I'm missing something or if you need any input from me to help out, please do let me know. Thanks, and great input from both @theRoughCode and @georgios-ts! Thank you both!

[2021-05-20 15:06] theRoughCode commented on #44
@vprusso that's right, the comments above should be resolved now. Thanks!

[2021-05-20 21:00] #44 closed

[2021-05-22 00:15] vprusso opened #66 "Feature: Is permutation matrix"
Write a function to determine whether an input matrix is a permutation matrix. A permutation matrix is defined as a matrix where there is a single "1" in each row and column of the matrix.

The functionality for this should be created in `matrix_props_props/is_permutation.py` with corresponding unit tests found in `tests/test_matrix_props/test_is_permutation.py`. The docs should also be updated in

[2021-05-25 01:34] victor-onofre commented on #40
Hi @vprusso, I have finished the first version of the function `relative_entropy.py`. Right now, I'm trying to find some numerical examples of the relative entropy to create the test cases. But, I cannot find any. Do you have any source of numerical examples to compare my results? I will keep looking in the meantime.

Thank you for the help!

[2021-05-26 01:30] vezwork commented on #45
Hi @vprusso, my apologies for the gap in communication, I haven't gotten back to working on this much until today.

By the way I wanted to say thanks for your kind, detailed responses and quick communication.

Upon consideration of QETLAB's implementation and the papers they cite, I've realized that computing the SkOperatorNorm (defined in [Proposition 4.5 here](https://arxiv.org/pdf/0909.3907.pdf

[2021-05-26 01:44] victor-onofre commented on #40
I have checked the bounds for the function, it looks like that part works. Now, I'm trying to replicate the results of this paper: [https://arxiv.org/abs/1909.05826](https://arxiv.org/abs/1909.05826). Specifically that `D(E || F) = 0.9176` for `rho = diag(0.8355, 1-0.8355)` using the equation 9. Also, I want to replicate figure 1 in the paper.

I'm having trouble applying the Choi matrices,  I'm a

[2021-05-26 02:41] victor-onofre commented on #22
Hi @vprusso, I'm having trouble with the testing of the `relative_entropy` function. I will rest a day or two from that function. I will try to create this one in the meantime. This is the first time I see this definition of a `Singlet state.` Can you provide more information about it?. If I understand correctly, this function creates the density matrix for a generalized singlet state?

Thank you

[2021-05-26 12:24] vprusso commented on #40
Hi @victor-onofre.

Okay, if I understand correctly, you need to calculate the quantity:

[code]

It looks like they provide an explicit construction of the J_{RB}^{E} matrix above equation (9), so all you should need to do is to multiply on the left and right by sqrt(rho_R).

A few things that might be relevant to watch out for here is:
    - You're taking the square root of an operator, so you'l

[2021-05-26 14:21] vprusso commented on #45
Hi @vezwork. No problem at all, and thanks for getting back to me.

I will agree that the calculation of the SkOperatorNorm is certainly a non-trivial problem. Indeed, the code to calculate this does exist in QETLAB (as you pointed out), but it might take some time to port over to Python. One nice thing about an external implementation is that one would be able to step through each part of the MAT

[2021-05-26 14:24] vprusso commented on #22
Hi @victor-onofre. No problem on the `relative_entropy` front. I've responded to your comment there and hope my input is valuable. Of course, let me know in any case.

Regarding the singlet state, yes exactly, this is a function that is intended to calculate an n-dimensional singlet state. The mathematical definition of that state is provided in the description of this task. Fairly direct, but of

[2021-05-27 19:24] victor-onofre commented on #22
Hi @vprusso, I have made a pull request for this function. I hope there are not many problems as in the past one.

Thank you!

[2021-05-27 21:52] vprusso commented on #22
Hi @victor-onofre. Excellent, thank you again for your contributions. I added only a few minor comments, but aside from that it overall looks pretty good! Let me know when you address those comments, and I'll include it in `toqito`. Thanks again, and great job! Looking forward to more contributions!

[2021-05-28 00:55] victor-onofre commented on #22
Thank you for reviewing my code @vprusso. I have made the changes to the function.

I will definitely keep contributing to ` toqito` . Is a perfect opportunity to learn new things! :)

[2021-05-28 13:13] dfacoet commented on #28
I would like to do this.

It should be pretty similar to `fidelity`, the main differences being that the variable in the SDP is Hermitian, and that the direct calculation can only be used if at least one of the density matrices is non-singular.
Does this sound right?

[2021-05-28 13:54] vprusso commented on #28
Hi @dfacoet. That's great to hear, thank you for taking an interest in this feature!

And yes, I believe your initial assessment of this task seems pretty spot on. For what it's worth, it may also be worth comparing with another implementation of this metric as implemented by [QETLAB](http://www.qetlab.com/MatsumotoFidelity). If you have access to MATLAB, you can check your implementation against

[2021-05-28 13:55] vprusso commented on #22
Awesome, looks good to me, @victor-onofre! Thanks again for your efforts, and looking forward to seeing more contributions from you. Cheers!

[2021-05-29 03:15] vezwork commented on #45
Here's a cheat sheet I made tonight for computing block positivity:
![image](https://user-images.githubusercontent.com/11082236/120056319-5e0bc380-c009-11eb-9a61-c8136687a3cf.png)

This cheat sheet leaves out one trick to quickly decide k-blockPositivity depending on the dimension of the subsystems the operator acts on (`dim`).

As we discussed, computing the S(k) operator norm is not easy. It is

[2021-05-29 11:17] vprusso commented on #45
Hi @vezwork. Looks like you're off to a great start here. Let me just reply to some of your points:

Nice, that's a great concise cheat sheet you've put together here. Gives a lot of information from a quick glance.

That exercise may be useful in and of itself. One thing that *may* be useful in doing so as a simplification is to note that checking for block-positivity only requires known what the

[2021-05-29 18:05] vprusso commented on #22
Closing as this was implemented in https://github.com/vprusso/toqito/pull/67. Thanks again!

[2021-05-29 18:05] #22 closed

[2021-05-29 18:07] paniash commented on #59
@vprusso Hi! Sorry about the delay. I've been swamped with some personal work lately and couldn't get back to this. And I don't see if I can complete this before the hackathon.

I hope it's alright if I can continue on this at a later stage (or earlier if I find the time). :-)

[2021-05-29 18:09] vprusso commented on #59
Hi @paniash. Thank you for following up with me, I appreciate you keeping me in the loop.

I completely understand of course and would welcome your contribution at a later date if that lines up better with your schedule. In any case, I appreciate the prior contributions and feedback you have provided to the project. I hope to see a future contribution from you and do let me know if you have any qu

[2021-05-30 00:18] vanzilar commented on #66
Hi .

 Looking for an issue for the [unitaryhack] that is tractable in the remaining time.  Looks like there are a lot of good entry ones here to dig into.  Can I try it?  If this one doesn't work out is one of the others in the list ok?  🎸 🎵

The one's I was looking at before seemed to not be a great fit in the time, however a unitary matrix check seems very doable.

[2021-05-30 11:53] vprusso commented on #66
Hi @vanzilar. You are definitely free to give this feature a shot. I think it should be a relatively straightforward one to implement, so have at it!

[2021-05-30 18:34] victor-onofre commented on #30
Hi @vprusso, I have made a pull request for this function. I will wait for your comments.

Thank you!

[2021-05-30 23:05] vprusso commented on #30
Looks great, @victor-onofre! Just added a few minor comments.

[2021-05-30 23:36] victor-onofre commented on #30
Thank you for reviewing my code @vprusso. I have made the changes to the function.

[2021-05-31 01:36] vprusso commented on #30
Awesome looks good! Approved!

[2021-05-31 03:15] vanzilar commented on #66
OK I got something working as far as I can tell.... had a few issues with some of the lower level libraries so I coded using python directly and cannot find a significant error.  Trying to get the Pull request in now.  I think it is good, however yes, I am open to any changes and corrections.

[2021-05-31 11:38] vprusso commented on #66
Added some comments. Also, in addition, check the failed build, as it tells you what you need to fix to get this to pass:
https://travis-ci.com/github/vprusso/toqito/builds/227467317

[2021-05-31 13:11] vanzilar commented on #66
Hi Vincent.

   ✨ Thanks for the feedback 🎇

       I have also have one worry.
1.  I may have misinterpreted the definition of a permutation matrix, so I am going to go over the wikipedia text and maybe go back to my quantum and linear algebra and other texts to make sure I created the right function to start with.

And my next steps and ideas are as follows after that.
1.  I plan to keep testing

[2021-05-31 13:24] paniash commented on #66
@vanzilar Hi! I had been facing installation issues with lapack as well. I would highly recommend reading the toqito docs page on the topic. It really helps.

Also, I think using a VM for this purpose is a bit of an overkill. Rather, it would be better to do all this in a python [virtual environment](https://wiki.archlinux.org/title/Python/Virtual_environment). I did the same and it worked!

All t

[2021-05-31 13:27] vprusso commented on #66
I think you are overcomplicating things here. The definition of a permutation matrix doesn't require anything super involved or deep about quantum mechanics or linear algebra. It is simply a matrix--consisting of either 1's or 0's where each row has a single 1 in it as does each column. That's it.

Not exactly sure what you are referring to when you say `test.py`. Are you talking about the `pytest

[2021-05-31 19:21] vprusso commented on #30
Closing as this has been approved and integrated.

[2021-05-31 19:21] #30 closed

[2021-06-02 00:02] vanzilar commented on #66
Update.  I have put in a few of the recommended changes, however not all of them yet, and I do have a few more changes to make.

[2021-06-02 01:50] vprusso commented on #66
@vanzilar Cool. Let me know what all the changes have been implemented. Thanks for the heads up!

[2021-06-02 20:20] vanzilar commented on #66
Thanks so much.

It compiled once I added in the full path in the test module to the is_permutation procedure/function.  Before I was leaving off the .is_permutation to match what I saw in the other is_???????? matrix checks imports.

In addition to that,  I do not think it was necessary however I added in _autosummary a file for the is_permutation checker however I think that has no impact.  That

[2021-06-02 20:33] vprusso commented on #66
Cool, thanks for the update. Ping me when your feature has been completed!

[2021-06-03 15:47] victor-onofre commented on #37
Hi @vprusso, I will try to do this feature this week :)

[2021-06-03 16:36] vprusso commented on #37
Hi @victor-onofre. Cool, have at it, and have fun! Looking forward to your contributions.

[2021-06-04 03:10] victor-onofre commented on #37
I have made a pull request for this function. I will wait for any comments.

Thank you @vprusso!

[2021-06-04 15:50] vprusso commented on #37
Looks great! Just a few small comments posted for you. Thanks again for your contributions, @victor-onofre!

[2021-06-04 16:39] vprusso opened #73 "Feature: S(k) norm"
Given either a vector or matrix provided as an `np.ndarray` object as input, compute the S(k) norm of this object.

For a matrix `X`, the S(k) operator norm is defined as shown in
https://github.com/vprusso/toqito/issues/45#issuecomment-850760074

Further information about the S(k) norm is provided in [arXiv:1207.1479](https://arxiv.org/abs/1207.1479).

The S(k) norm is used as a subroutine to det

[2021-06-04 18:06] victor-onofre commented on #37
Thank you so much for reviewing my code @vprusso. I have made the changes to the function.

[2021-06-04 18:32] vprusso commented on #37
Awesome, merged! Thanks again for the contribution! :)

[2021-06-04 19:07] vprusso commented on #37
Closing as per https://github.com/vprusso/toqito/pull/72

[2021-06-04 19:07] #37 closed

[2021-06-10 09:55] dfacoet opened #74 "Issue: shape of output of `choi_to_kraus`"
The output of `choi_to_kraus` should be reshaped, as it does not match the type hint `List[List[np.ndarray]]`.

Currently, `choi_to_kraus` outputs a (flat) list of Kraus operators. The docs agree with this, but this is in contrast with how Kraus operators are handled throughout the package, as a list of (length-two) lists of operators.

Because of this the output of `choi_to_kraus` is not a valid

[2021-06-10 10:54] dfacoet commented on #74
I had a better look at the function. I had missed the fact that it only works for channels where input and output have the same dimension, and it computes a Kraus representation in which the left and right operators are the same. So the representation as list of lists is redundant (it amounts to duplicating the output). Still, I think it would be best for the output of `choi_to_kraus` to be a good

[2021-06-10 10:57] dfacoet commented on #29
Hi @vprusso, I would like to implement this.
To be clear, "dual" here means the adjoint of the superator, which amounts to

- for Kraus operators, taking the adjoint (conjugate+transpose) of each matrix in the list.
- for a Choi matrix, taking the complex conjugate and `swap`ping input and output (with an optional parameter to specify the dimensions).

Is this correct?

[2021-06-10 11:58] vprusso commented on #29
Hi @dfacoet.

That's great to hear, excited to see what you come up with on this feature.

And yes, I believe your interpretation of what "dual" means in this context is spot on. Please don't hesitate to ping me if you have further questions, and thanks again as always for your eagle eye catches and contributions!

[2021-06-10 12:00] vprusso commented on #74
Gotcha. Would you think this would have been easier to spot if the docs were written differently?

Also, perhaps either this issue should be adapted or a new one created for reducing the redundancy of the output? Would you say that aligns with what you posted here?

[2021-06-11 00:32] vprusso commented on #28
Closing as this has been implemented. Thank you, @dfacoet!

[2021-06-11 00:32] #28 closed

[2021-06-11 13:26] dfacoet commented on #74
I do think that the docs could be a bit more specific (but it's definitely not urgent, they are good enough).

I am not sure what the best way to proceed is, but I think it's important that the output of `choi_to_kraus` be valid input for the other relevant functions in the package. Perhaps a better way to handle this in the long term would be to require the other functions to accept a (1d) list o

[2021-06-12 12:29] vprusso commented on #74
Gotcha. I might need to do some digging on this as I can't quite recall this fact, but I don't believe one can always assume that the left and right Kraus operators will be distinct, so I think, while *usually* redundant to specify both, it can sometimes be necessary to be explicit as they can sometimes differ. Or at least, that is my recollection.

[2021-06-12 15:44] vezwork commented on #73
Continuing my work from #45, here is a "cheat sheet" i've prepared to help with computing the S(k) operator norm (this norm is necessary for computing k-block positivity).

Given the following input (X, k, n, and m):
![image](https://user-images.githubusercontent.com/11082236/121781472-f4e09000-cb72-11eb-9ba6-2603848e1981.png)
The following holds and is computable:
![image](https://user-images.git

[2021-06-14 15:11] dfacoet commented on #74
A representation with the same operators acting on the left and on the right exists if and only if the map is completely positive. This is why the Kraus representation is often introduced with a single list of operator (e.g. in Nielsen&Chuang).
The book by Watrous seems to have a more general outlook, introducing the "two-lists" representation first, and then giving the characterization above (the

[2021-06-14 15:14] dfacoet commented on #29
I should take into account the discussion in #74 regarding the possible Kraus representations. I think the best thing to do is to accept both "one-list" and "two-lists" representation, and the output should have the same forward.
This is pretty straightforward since in any case it amounts to taking the Hermitian conjugates of all matrices.

[2021-06-14 15:22] vprusso opened #76 "Feature: NPA hierarchy for extended nonlocal games"
Task: Implement the NPA hierarchy for extended nonlocal games.

The NPA hierarchy is used as a bounding technique to approximate upper bounds on the quantum value of a nonlocal game. Extended nonlocal games are a superset of nonlocal games, and an analogous concept (referred to as the "extended NPA hierarchy") exists to upper bound the quantum value of any extended nonlocal game.

More information

[2021-06-14 15:22] vprusso commented on #66
Closing as this has been completed.

[2021-06-14 15:22] #66 closed

[2021-06-14 15:36] vprusso opened #77 "Documentation Binary Constraint System Game (BCS) game tutorial"
The `toqito` documentation presently covers the subjects of [nonlocal games](https://toqito.readthedocs.io/en/latest/tutorials.nonlocal_games.html), [XOR games](https://toqito.readthedocs.io/en/latest/tutorials.xor_quantum_value.html), and [extended nonlocal games](https://toqito.readthedocs.io/en/latest/tutorials.extended_nonlocal_games.html). Binary constraint system games (BCS games) sometimes

[2021-06-15 14:25] vprusso opened #78 "Feature: Determine when a BCS nonlocal game has a perfect commuting operator strategy"
One can presently make use of `toqito` to approximate the commuting operator value of a BCS game by making use of the NPA hierarchy.

For certain games, calculating this heuristic can be intractable. The user may sometimes simply wish to know whether a perfect commuting operator strategy exists (that is, whether the BCS has a commuting operator value equal to one).

According to [arXiv:1606.02278]

[2021-06-16 02:28] vprusso commented on #73
Hi @vezwork.

Wonderful work so far, it really looks like you're making a lot of great progress here. I sincerely appreciate you taking the time to write this up and share it. If I can offer some assistance, do let me know, but it really seems like you're much more of an expert on this particular problem than I am, which is wonderful.

Great work, and please do continue to keep me posted on your p

[2021-06-16 11:32] vprusso opened #79 "Enhancement: Functions `choi_to_kraus` and `kraus_to_choi` should take either 1D or 2D input for Kraus ops"
As mentioned by @dfacoet, the functions `choi_to_kraus` and `kraus_to_choi` presently expect the Kraus operators to be provided as a 2D numpy array that represents both the left and right Kraus operators. In some instances (when the channel the Kraus operators are representing is a completely positive map) it is only necessary to specify a single 1D vector of Kraus operators.

These functions shou

[2021-06-16 11:34] vprusso commented on #74
I've gone ahead and created an issue here:
https://github.com/vprusso/toqito/issues/79

I think the captures the gist of what you're mentioning here, but of course, if I've missed some salient detail, please do either let me know or feel free to add a comment to the above issue so I can write it more properly/correctly.

And of course, if you think you'd like to take a stab at that (assuming I'm n

[2021-06-20 13:48] dfacoet commented on #74
Hi @vprusso, thank you for creating the new issue, I agree that it captures what I was saying here, and suggests a good way to solve the inconsistency. I will try to do it.

[2021-06-20 13:58] dfacoet commented on #79
Hi, thank you for this issue, which addresses nicely what I pointed out.

Some minor points:
- the Kraus representation is currently expressed as 1D or 2D list of ndarray, not 1D or 2D array
- there is no need to check that the map represented by a 1D list is CP, that's automatically the case (e.g. theorem 2.22 in Watrous)

[2021-06-24 14:53] vprusso commented on #29
Closing. Thanks again to @dfacoet for the wonderful PR!

[2021-06-24 14:53] #29 closed

[2021-11-07 22:53] vprusso opened #83 "Feature: Is NPT"
Given a quantum state provided as a density matrix or vector, determine whether the state is NPT (has negative partial transpose). If some of the eigenvalues of the transpose of the density operator representing the state are strictly smaller than zero, we say the state is NPT.

Note: A state is NPT if it is not PPT, so this should be a direct `if not is_ppt(...)` function call. It's mostly just p

[2022-02-21 14:12] gharib85 opened #84 "Negativity"
There are to definition
First
sum of negative eigvalue of partially traced rho ...ptr
Second
(Nuclear_norm(ptr)-1)/2
But the give different value
I noticed and just for hermitian rho

(Nuclear_norm(ptr) -np.tr(ptr)/2
Is equivalent to first defination

[2022-02-21 18:31] vprusso commented on #84
Sorry, I'm having some difficulty parsing this. Could you put in an exact snippet of code explaining the discrepancy you're noticing?

[2022-02-22 17:05] gharib85 commented on #84
For example in iq package

https://github.com/iitis/qi/blob/master/QIExtras.m#L401

Negativity[\[Rho]_, {m_, n_}] := Plus@@Abs[Select[Eigenvalues[PartialTranspose[\[Rho], {m, n}, {1}]], # < 0 &]];

After do partial transpose
Select negative eigvalue and add Thier absolute value

In qutip
Both methods are implemented

https://github.com/qutip/qutip/blob/master/qutip/entropy.py#L138

((rho_pt.dag()

[2022-03-28 17:13] #84 closed

[2022-05-05 16:38] vprusso commented on #45
Hi Elliot (@vezwork)

Hope you've been doing well. I'll be posting this task again for the upcoming UnitaryHack challenge this year. If you are interested in throwing your hat into the ring, let me know--I think you had some great initial progress on this last time.

[2022-05-09 02:38] vprusso commented on #59
Closed from https://github.com/vprusso/toqito/pull/87

[2022-05-09 02:38] #59 closed

[2022-05-09 21:42] #19 closed

[2022-05-11 00:23] #83 closed

[2022-05-11 21:37] vprusso commented on #59
FYI: For UnitaryHack contributors, this task has since been closed.

[2022-05-17 01:42] vezwork commented on #45
Hi Vincent (@vprusso)

I've been quite good, hope you have been too! Thanks for letting me know that block-positivity will be back in UnitaryHack next month.

I'm not sure I'll have the time to have a go at it this year, although I'm still interested. I re-read through my notes, and I must admit that I am a bit intimidated to get back into this... Perhaps you could share some links or code snippet

[2022-05-17 03:28] vprusso commented on #45
Hi Eliot (@vezwork)

Very nice to hear from you again.

Indeed, if I can directly help out with this one, you can let me know and I'll be happy to jump in. Whether that's working directly on it in tandem or working out some details via a Zoom call--I would be happy to help out.

I think one bite-sized bit might be having the ability to calculate the sk-vector norm. This is a pre-req for the sk-ope

[2022-06-03 17:41] meandmytram commented on #20
Hey @vprusso, I have something to contribute to this issue, will open the PR later today. In the meantime, would you have any additional information?

[2022-06-03 18:02] vprusso commented on #20
Hi @meandmytram

That's great to hear! Thank you for your interest and contribution to `toqito`!

Yes, I can provide an initial attempt at capturing some of these separability criteria. Note that it is still incomplete.

These tests and checks are heavily derived and influenced by the QETLAB function [IsSeparable.m](https://github.com/nathanieljohnston/QETLAB/blob/master/IsSeparable.m) that runs t

[2022-06-03 18:08] vprusso commented on #20
As a follow-up, some of the corresponding test cases that would be useful I'll include here as well. Again, these are incomplete, but I think it would be useful to provide these.

[code]

[2022-06-12 14:42] #73 closed

[2022-06-14 04:14] #45 closed

[2022-06-14 23:35] vprusso opened #100 "Feature: Function to create standard basis"
Create a function that returns the standard basis of a user-specific dimension.

This function should be placed in `matrix_props/standard_basis.py` and should have a corresponding test suite in `tests/test_matrix_props/test_standard_basis.py`

The following is an approach at accomplishing this task:

[code]

Note: credit should be provided in the comments section to the following repo (where this

[2022-06-14 23:42] vprusso opened #101 "Feature: Is orthonormal"
Given a collection of vectors or matrices, determine if they are [orthonormal](https://en.wikipedia.org/wiki/Orthonormality).

This function should be placed in `matrix_props/is_orthonormal.py` and should have a corresponding test suite in `tests/test_matrix_props/test_is_orthonormal.py`

The following is an approach to accomplishing this task:

[code]

[2022-06-15 02:48] vprusso opened #105 "Feature: Inner and outer product functions"
Given a collection of vectors, create two separate functions that calculate the [inner product](https://mathworld.wolfram.com/InnerProduct.html) and [outer product](https://en.wikipedia.org/wiki/Outer_product) of those vectors.

This function should be placed in `matrix_ops/inner_product.py` and `matrix_ops/outer_product.py`. These should have a corresponding test suite in `tests/test_matrix_props

[2022-06-15 03:15] vprusso opened #109 "Feature: Hilbert-Schmidt inner product"
Given two matrices, calculate the [Hilbert-Schmidt inner product](https://en.wikipedia.org/wiki/Hilbert%E2%80%93Schmidt_operator) between them.

This function should be placed in `state_metrics/hilbert_schmidt_inner_product.py` and this should have a corresponding test suite in `tests/test_state_metrics/test_hilbert_schmidt_inner_product.py`

For inspiration, one can refer to the function [here](h

[2022-06-21 17:43] #101 closed

[2022-06-29 08:45] AdithyaSireesh commented on #109
Hi @vprusso,

I would like to take this up if no one else is working on it. This is my first time contributing to Toqito. Do you have any tips?

[2022-06-29 11:46] vprusso commented on #109
That's great, @AdithyaSireesh!

I'm not sure I have anything additional to add--if you have specific questions you can ask here!

[2022-06-29 12:08] AdithyaSireesh commented on #109
Thank you. I'll get started. Is there any specific requirements for what matrices the function should accept?

Eg: do they need to be unitary/hermitian etc.?

[2022-06-29 12:13] vprusso commented on #109
The matrices simply need to be standard linear operators defined as `np.array` objects.

Let me know if you have any other questions!

[2022-06-29 13:56] AdithyaSireesh commented on #109
#134

[2022-06-29 14:01] AdithyaSireesh commented on #109
Opened a pull request #134

[2022-06-29 17:48] vprusso commented on #20
Thanks again, @meandmytram !